/*
 * OpenLayers override
 */

.ol-mouse-position {
  background: #95b9e6;
  background: rgba(0 60 136 / 50%);
  bottom: 8px;
  color: #eee;
  font-size: 10px;
  left: auto;
  margin: 1px;
  padding: 2px;
  position: absolute;
  right: 0.5em;
  text-align: center;
  top: auto;
}

.ol-overviewmap {
  bottom: 2.25em;
}

.ol-rotate {
  top: 5em;
}

.ol-zoom-extent {
  left: auto;
  right: 0.5em;
  top: 2.75em;
}

.ol-zoomslider {
  width: 28px;
}
